<h1>Current User</h1>
  <div>
    <img src='../../../user_profile_img.png'>
  </div>
  <div>
    Welcome, <%= @user.name %>!<br>
    Current City: <%= @user.city %><br>
    Joined: <%= @user.created_at.getlocal %><br>
    <%= link_to 'Edit Profile', edit_path %>
  </div>
