<h1>Project Wanderlust</h1>

<% @cities.each do |city| %>
  <%= link_to(city, city_path(city), class: 'city-btn btn btn-info') %>
<% end %>

<%= image_tag('Wanderlust.jpg', :class => 'iconic-picture') %>
