/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree ../../../vendor/assets
 *= require_tree .
 *= require_self
 */

.profile-picture {
height: 200px;
width: 200px;
}

.aside-container {
  z-index: 1;
  float: left;
}

.container{
  margin-top: 20px;
  height: 100%;
}

.posts-container {
  text-align: center;
  border: 1px solid white;
  border-radius: 5px
}

.post-row {
  clear: both;
}

.new-post {
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 20px 0;
}

.content-container {
  padding: 20px 0;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 10px;
}

.post-button {
  margin: 10px 0px;
}

.new-post-button {
  margin: 20px 0;
}

.iconic-picture {
  width: 100%;
  height: 800px;
}

.nav-btn {
  margin: 7px 2px;
}


.content {
  vertical-align: top;
}
